body {
  background: #030305;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
}

.content-container {
  flex: 1 0 auto;
  width: 100%;
}