.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-box,
.preview-box {
  box-sizing: border-box;
  display: inline-block;
  height: 600px;
  width: 500px;
}

.input-box {
  margin-right: 20px;
  overflow-y: hidden;
}

.input-box textarea {
  border: none;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  height: 100%;
  line-height: 25px;
  overflow-y: auto;
  padding: 1.5em 0.5em 0;
  resize: none;
  width: 100%;
}

.preview-box {
  overflow-y: auto;
  padding: 0.5em;
}

.input-box textarea,
.preview-box {
  transition: 1s;
}

.brightly-theme .input-box,
.brightly-theme .preview-box {
  background: #cfd8dc;
  border: 1px solid #000;
}

.nightly-theme .input-box,
.nightly-theme .preview-box {
  border: 1px solid #FFF;
}

.nightly-theme .input-box textarea,
.nightly-theme .preview-box {
  background: #1d2129;
  color: #FFF;
}

.brightly-theme .input-box textarea,
.brightly-theme .preview-box {
  background: #eceff1;
  color: #000;
}
